<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js">
</script>

<body>
    <h1>Join the name</h1>
    <div ng-app="myApp" ng-controller="myCtrl">
        First Name: <input type="text" ng-model="firstName"> <br> Last Name: <input type="text" ng-model="lastName"><br>
        <br> Full Name:{{firstName +" "+lastName}}
    </div>
    <script>
        //Angular module
        var app = angular.module('myApp',[]);
        //Angular controller
        app.controller('myCtrl',function($scope){
            $scope.firstName="That Binh";
            $scope.lastName="Ton";
        });
    </script>
</body>

</html>